
.modal-form-title
{
  font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--accent-color);
    margin-bottom: 30px;
    justify-content: center;
}


.modal-form-check,
.modal-form-message,
.modal-form-input
{

display: block;
width: 100%;
 height: 40px;
padding-left: 42px;
border-radius: 4px;
border-color: rgba(33, 33, 33, 0.2);
outline: transparent;

fill: var(--primary-text-color-theme-dark);
transition: border-color var(--transition-dur-and-func) ;
}

.modal-form-input
{
margin-bottom:28px;


}


.modal-form-input-wrapper,
.form-field 
{
  position: relative;
  margin-bottom: 28px; 
}


.modal-form-field-desc 
{
  

  position: absolute;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color:var(--secondary-text-color-theme-light);
  top: -50%;
  left: 0;
  transform: translateY(20%);

}



.modal-form-submit
{ 
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-dark);
    background-color:var(--secondary-background-btn-color-theme-light);
    border: none;
    border-radius: 4px;
    margin: 30px auto 0;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    transition-property: background-color, fill;
    transition-duration:var(--transition-dur-and-func);
    transition-timing-function: var(--timing-function);
    cursor: pointer;

}


.form-message
{
  position: relative;
}
.comment {
  position: absolute;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color:var(--secondary-text-color-theme-light);
  top: 0;
  left: 0;
  transform: translateY(-120%);
}
  


.modal-form-message
{

  
  width: 100%;
  height: 120px; 
  border-color:
  rgba(33, 33, 33, 0.2);
  transition: border-color var(--transition-dur-and-func) ;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  resize: none;
   &:focus 
{
  outline: none;
  border: 1px solid var(--primary-text-color-theme-light);
}
}

.modal-form-check
{ 
   position: absolute; 
   display: flex;
   flex-direction: column;
   align-items: center;
   /* width: 18px;
   height: 18px; */
  &-field
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--secondary-text-color-theme-light);
  padding-top: 20px;
}
}





.modal-form-own-checkbox
{
  
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--accent-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  cursor: pointer;

}
 .form-check
 {
  padding-top: 20px;
 }
.modal-form-check

 {
   position: absolute;
  appearance: none; 
 } 

 .modal-check
   {
    visibility: hidden;
   &:checked +.modal-form-own-checkbox
{
  color:var(--primary-text-color-theme-dark) ;
   background-color:var(--primary-text-color-theme-light);
} 
   }

  

 .modal-form-input-wrapper
{
    position: relative;
 &:focus 
 {
      outline:none;
      border-color:var(--primary-text-color-theme-light);
}
}

.titel-contract 
{
 font-family:Roboto, sans-serif;

 font-size: 14px;
 line-height:  1.71;

 letter-spacing: 0.03em;
margin: 5px;
 color:var(--primary-text-color-theme-light);  

}

.modal-form-input-icon
{
  position: absolute;
  top: 20px;
  left: 12px;
  display: inline-block;
  transform: translateY(-50%);
}




.modal-form-input:focus 
{
  outline:none;
  border: 1px solid var(--primary-text-color-theme-light);
  & + .modal-form-input-icon
 {
fill:var(--primary-text-color-theme-light);

}
}




   .distribution{
    margin-left:auto;
    display: flex;
    flex-wrap: wrap;

} 

.title-distribution{
  display: flex;
  margin-bottom: 20px;
  font-family:var(--primary-font); 
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color:var(--primary-text-color-theme-dark);
  background-color: var(--secondary-text-color-theme-dark);
}
 

.modal-distribution
{
    display: flex;
    gap: 12px;
    row-gap: 12px;
    column-gap: 12px;

    &-input
{
    
        padding: 15px 16px;
     
        width: 358px;
        background-color: inherit;
        outline: transparent;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color: rgba(255, 255, 255, 0.6)
    
    
 }
}

 
.submit-distribution
{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color:var(--primary-text-color-theme-light);
  border-radius: 4px;
  color:var(--primary-text-color-theme-dark);
  transition-property: background-color, fill;
  transition-duration:var(--transition-dur-and-func);
  transition-timing-function:var(--timing-function);
  cursor: pointer;

 
 
}


.telega-send-icon
{
 width:24px;
height:24px;
color:var(--primary-text-color-theme-dark);
 }
 