
    .modal-open-btn

    {
    font-family: Roboto, sans-serif;  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    width: 216px;
    border: navajowhite;
    letter-spacing: 0.06em;
    height: 50px;
    transition:background-color var(--transition-dur-and-func);
    color:var(--primary-text-color-theme-dark); 
    background-color:var(--primary-text-color-theme-light);
    border-radius: 4px;
    &:hover,
    &:focus
    {  
    
    color:var(--primary-text-color-theme-dark) ;
    background-color:var(--secondary-background-btn-color-theme-light);
    }
     }
   
  
    
    .filter 
    {
      display: flex; 
      text-align: center;
      gap: 8px;
      justify-content: center;
      margin-bottom: 50px;  
      &-list 
      {  
      
     font-family:inherit; 
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;
     letter-spacing: 0.03em;
     cursor: pointer;
     padding:6px 22px;
     color:var(--accent-color);
      background-color:var(--secondary-background-color-theme-light) ;
      border-radius: 4px;
     
      transition:box-shadow var(--transition-dur-and-func),
       color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func);

     &:hover,
     &:focus
{ 
   
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08), 
 0px 2px 2px rgba(0, 0, 0, 0.12);

        color:var(--primary-text-color-theme-dark);
        background:var(--primary-text-color-theme-light); 
} 
     
 }
 }
 

.backdrop
{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color:
  rgba(0, 0, 0, 0.2);

   opacity: 1;
  visibility: visible;
  pointer-events:  auto; 
  
  transition: opacity 250ms linear, visibility 300ms linear;
  
}

.backdrop.is-hidden
{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
  width: 528px;
  height: 581px;
  background-color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  padding: 40px;

  &-close-btn
{   
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary-text-color-theme-dark);
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
&:focus
{

  fill:var(--primary-text-color-theme-light);
}

}
}






/* ==============modal-form========== */
