
  h1,h2,h3,h4,p
  { 
      margin-top: 0;
      margin-bottom: 0;
   }


.ul,    
.li
   { 
      margin-top: 0px;
      margin-bottom:0px;
      padding-left: 0px;
      padding-right: 0px;   
   }

   img
   {
       display: block;
       max-width: 100%;
       height: auto;
   }
   .section 
   { 
     padding-top: 94px;
     padding-bottom: 94px;
   }
   
