:root
{
    --accent-color:   #212121;
    --primary-font:Roboto,sans-serif;
    --secondary-font:Raleway, sans-serif;
    --secondary-text-color-theme-dark:#2F303A;
    --primary-text-color-theme-light: #2196F3;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-light:#757575;
    --secondary-background-fill: #AFB1B8;
    --secondary-background-color-theme-light:#F5F4FA; 
    --secondary-background-btn-color-theme-light:#188CE8;
    --primary-color-border:  #EEEEEE;
    --secondary-color-border:#ECECEC;
    --transition-dur-and-func:250ms linear;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  }
  