

.logo
{ 
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
   
    display: flex;
    align-items:center;
    
     color: var(--accent-color);
  }
.logo-w 
{ font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--primary-text-color-theme-dark);}

  .accent-logo
  { font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:  var(--primary-text-color-theme-light);
  }




.page-header-container 
  {
  display: flex; 
  align-items: center;
  }

.page-nav 
{ 
  display:flex;
  align-items: center;
  justify-content:space-between;
}



.menu 
{ 
  display: flex;
  align-items:center;
  gap: 50px;
}


.contakt 
{
  display: flex;gap: 50px;
  align-items: center;
  margin-left: auto;
}


.menu
{margin-left: 93px;
} 


.menu-link
{  position: relative;
   font-weight: 500;
   font-family:Roboto,sans-serif;
    color:var(--accent-color);
    transition: color var(--transition-dur-and-func);
}
.menu-link:hover,
.menu-link:focus
{

color:var(--primary-text-color-theme-light);
}



 .contakt-email
 {
   font-weight: 500;
   fill:currentColor;
   color:var( --secondary-text-color-theme-light);
   transition: color var(--transition-dur-and-func);


  }
  .contakt-email:hover,
  .contakt-email:focus
  {
  
   color:var(--primary-text-color-theme-light);
  }


 .contakt-stil
 

 { 
   transition: color var(--transition-dur-and-func);
  color:var(--accent-color);
 }
 
 .contakt-stil:hover,
 .contakt-stil:focus
  { 
   color: var(--primary-text-color-theme-light)
 }

 .contakt-phone-number
  {
   color:var(--secondary-text-color-theme-light);
 }
