

.nav__logo
{ 
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
   
    display: flex;
    align-items:center;
    
     color: var(--accent-color);
}
    //  .nav__logo__w 
    .nav__foot__logo
     { font-family: Raleway, sans-serif;
       font-style: normal;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.19;
       letter-spacing: 0.03em;
       color:var(--primary-text-color-theme-dark);
      }
  


  .nav__accent__logo
  { font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:  var(--primary-text-color-theme-light);
  }

  .nav__link
  {
    text-decoration: none;
  }

  // .page__link__port 

  .nav__port
  {   display: block;
  text-decoration: none;
  padding: 32px 0;
  margin: 0;
  }
  


.nav 
  {
  display: flex; 
  align-items: center;

  }

.nav__nav 
{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .nav__menu__left
{
   margin-left: 93px;
 }

.nav__menu
{
  display: flex;
  align-items:center;
  gap: 50px;
  margin-left: 93px;
}  

  // page__menu__link
  .nav__link
  {  position: relative;
     font-weight: 500;
     font-family:Roboto,sans-serif;
      color:var(--accent-color);
      transition: color var(--transition-dur-and-func);
     &:hover,
     &:focus
  {
  
  color:var(--primary-text-color-theme-light);
  } 
}
 

// page__menu__item 
// .nav__item



// page__contact
.nav__contakt
{
  display: flex;gap: 50px;
  align-items: center;
  margin-left: auto;
  &-C
  {
   color:var(--secondary-text-color-theme-light);
 }
}


// page__contact__email
 .nav__email 
 {
  display: flex;
 align-items: center;
   font-weight: 500;
   fill:currentColor;
   color:var( --secondary-text-color-theme-light);
   transition: color var(--transition-dur-and-func);
  &:hover,
  &:focus
  {
  
   color:var(--primary-text-color-theme-light);
  }

  }
 


//  .page__contakt__stil
 .nav__stil
 { 
   transition: color var(--transition-dur-and-func);
  color:var(--accent-color);
   &:hover,
   &:focus
  { 
   color: var(--primary-text-color-theme-light)
 }
 }
 


//  .contakt-phone-icon
.nav__phone__icon
 {
 width: 10px;
 height: 16px; 
 margin-right: 10px;
 transition: fill var(--transition-dur-and-func);
 
 }
 // page__item__contakt
 
 .nav__item:hover,
 .nav__item:focus
 {
 fill: var(--primary-text-color-theme-light);
 }
 
 
 
  .page__contakt__email
 {display: flex;
  align-items: center;
 
 }
 
 // .page__post__email
 .nav__mail
 {
 display: flex;
 align-items: center;
 }
 .nav__mail__icon
 {
 width: 16px;
 height: 12px;
 margin-right: 10px;
 transition: fill var(--transition-dur-and-func);
 &:hover,
 &:focus
 {
 fill: var(--primary-text-color-theme-light); 
 }
 }
 

 
 // .page__post__email__link
 .nav__post
 {
 display: flex;
 
 align-items: center;
 margin-right: 10px;
 }
 
 
 
 

